﻿<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Scripts/Asset/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/Asset/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/Asset/css/style.css">
    <script type="text/javascript" src="~/Scripts/Asset/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Asset/js/bootstrap.min.js"></script>
    <title>Beranda</title>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="download">Menu 1<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="download">Menu 2<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="download">Menu 3<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <i class="glyphicon-inbox"></i>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" id="download">Hi Imam<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="jumbotron" style="padding-bottom : 5px;">
       <div class="container">
           <h1 style="font-weight: bold; color:#000066">XSIS 2.0 </h1>
       </div>
    </div>

    <div class="container isi">
        
        <div class="row">
            <div class="col-md-2">
                <div class="">
                    <a href="#" class="btn btn-outline-side col-lg-12" >&bull;  Beranda</a>
                </div>
                <div class="">
                    <a href="#" class="btn btn-outline-side col-lg-12">&bull; Cari Pelamar</a>
                </div>
                <div class="">
                    <div class="dropdown btn btn-outline-side col-lg-12">
                        <div class="dropdown-toggle" data-toggle="dropdown" id="download"> &bull; Data Pelamar<span class="caret text-right"></span></div>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </div>
                </div>

                <div class="">
                    <a href="#" class="btn btn-outline-side col-lg-12">&bull; Proses Pelamar</a>
                </div>
                <div class="">
                    <div class="dropdown btn btn-outline-side col-lg-12">
                        <div class="dropdown-toggle" data-toggle="dropdown" id="download">&bull; Penjadwalan<span class="caret text-right"></span></div>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="dropdown btn btn-outline-side col-lg-12">
                        <div class="dropdown-toggle" data-toggle="dropdown" id="download">&bull; Test<span class="caret text-right"></span></div>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="dropdown btn btn-outline-side col-lg-12">
                        <div class="dropdown-toggle" data-toggle="dropdown" id="download">&bull; Bootcamp<span class="caret text-right"></span></div>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </div>
                </div>
                <div class="">
                    <div class="dropdown btn btn-outline-side col-lg-12">
                        <div class="dropdown-toggle" data-toggle="dropdown" id="download">&bull; Laporan<span class="caret text-right"></span></div>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li><a href="kritiksaran.php">Kritik Saran</a></li>
                            <li><a href="#">Melapor</a></li>
                            <li><a href="#">Request Buku</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 main-content">
                @RenderBody()

            </div>
        </div>
    </div>
    <footer class="">
        <div class="container text-center padding-footer">
                2020 - Xsis Mitra Utama
        </div>
    </footer>
</body>

</html>

