﻿<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="home">
            Home
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" id="home">Home</a></li>
        </ul>
    </li>
</ul>