﻿<style>
    .x-side{
    background : white;
    outline : solid #000066;
    color :#000066;
    margin-top : 5px;
    margin-bottom : 5px;
}
</style>

<div class="row">
    <div class="col-sm-12 x-side ">
        <div id="home">    
            <a href="#"><i class="far fa-user"></i>@Html.ActionLink("Home", "Index", "Home")</a>
        </div>
    </div>
</div>
