/* Sticky footer styles
-------------------------------------------------- */

html{
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 94vh;
  height: auto !important;
  /* Negative indent footer by its height */
  margin: 0 auto -10px;
  /* Pad bottom by footer height */
  padding: 70px 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 7.5vh;
  background-color: #263238;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 10px 15px 0;
}
.container .credit {
  margin: 10px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}