/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */
body {
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	font-weight: 300;
	background-color: #C4D5C3;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2, h3 {
	line-height: 1.1;
}

h1 {
	font-size: 28px;
}

h2 {
	color: #393939;
}

h3, h4, h5, h6 {
	color: #494949;
}

a {
	color: #4aa02c;
	font-weight: 400;
	text-decoration: none;
}

a small {
	font-size: 11px;
	color: #777;
	margin-top: -0.6em;
	display: block;
}

.wrapper {
	width: 860px;
	margin: 0 auto;
}

blockquote {
	border-left: 1px solid #e5e5e5;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code, pre {
	font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color: #333;
	font-size: 12px;
}

pre {
	padding: 8px 15px;
	background: #f8f8f8;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	padding: 5px 10px;
	border: 1px solid #949494;
}

tr:nth-of-type(odd) {
	background: #D7DFF7;
}
tr:nth-of-type(even) {
	background: #E3E4FA;
}

th {
	background-color: #0dbf90;
	color: white;
}

dt {
	color: #444;
	font-weight: 700;
}

img {
	max-width: 100%;
}

header {
	width: 270px;
	float: left;
	position: fixed;
}

header ul {
	list-style: none;
	height: 40px;
	padding: 0;
	background: #eee;
	background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8),
		color-stop(100%, #dddddd));
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -o-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: -ms-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	background: linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
	border-radius: 5px;
	border: 1px solid #d2d2d2;
	box-shadow: inset #fff 0 1px 0, inset rgba(0, 0, 0, 0.03) 0 -1px 0;
	width: 270px;
}

header li {
	width: 89px;
	float: left;
	border-right: 1px solid #d2d2d2;
	height: 40px;
}

header ul a {
	line-height: 1;
	font-size: 11px;
	color: #999;
	display: block;
	text-align: center;
	padding-top: 6px;
	height: 40px;
}

strong {
	color: #222;
	font-weight: 700;
}

header ul li+li {
	width: 88px;
	border-left: 1px solid #fff;
}

header ul li+li+li {
	border-right: none;
	width: 89px;
}

header ul a strong {
	font-size: 14px;
	display: block;
	color: #222;
}

section {
	width: 500px;
	float: right;
	padding-bottom: 50px;
}

small {
	font-size: 11px;
}

hr {
	border: 0;
	background: #e5e5e5;
	height: 1px;
	margin: 0 0 20px;
}

footer {
	width: 270px;
	float: left;
	bottom: 50px;
}

@media print , screen and (max-width: 960px) {
	div.wrapper {
		width: auto;
		margin: 0;
	}
	header, section, footer {
		float: none;
		position: static;
		width: auto;
	}
	header {
		padding-right: 320px;
	}
	section {
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
		padding: 20px 0;
		margin: 0 0 20px;
	}
	header a small {
		display: inline;
	}
	header ul {
		position: absolute;
		right: 50px;
		top: 52px;
	}
}

@media print , screen and (max-width: 720px) {
	body {
		word-wrap: break-word;
	}
	header {
		padding: 0;
	}
	header ul, header p.view {
		position: static;
	}
	pre, code {
		word-wrap: normal;
	}
}

@media print , screen and (max-width: 480px) {
	body {
		padding: 15px;
	}
	header ul {
		display: none;
	}
}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444;
	}
}

.vm-pagination ul>li {
	display: inline-block;
	padding: 0px 10px;
}

.searchForm {
	width: 30% !important;
	margin-buttom: 10px;
}

.radioButton {
	margin-left: 20px;
	margin-buttom: 10px;
}

.buttonSubmitCancel {
	float: left;
	margin-right: 5px;
}

.hidden {
	display: none;
}

/* navbar*/
.navbar-default {
	background-color: #33b5e5;
	border-color: #E7E7E7;
}

.radio-vertical span {
	position: relative;
	display: block;
}

/*Login Page*/
.wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-signin {
	max-width: 380px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	.
	form-signin-heading
	,
	.checkbox
	{
	margin-bottom
	:
	30px;
}

.checkbox {
	font-weight: normal;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@
	include
	box-sizing(border-box);
	&:
	focus
	{
	z-index
	:
	2;
}

}
input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

}

/* TPA Classic Styles */
.panel-primary .panel-heading {
	background: #0dbf90 !important;
	background: -webkit-linear-gradient(top, #03A9F4, #0dbf90) !important;
	background: -moz-linear-gradient(top, #03A9F4, #0dbf90) !important;
	background: -o-linear-gradient(top, #03A9F4, #0dbf90) !important;
	background: -ms-linear-gradient(top, #03A9F4, #0dbf90) !important;
}

.grd-thm {
	background: #0dbf90 !important;
	background: -webkit-linear-gradient(top, #0dbf90, #0dbf90) !important;
	background: -moz-linear-gradient(top, #0dbf90, #0dbf90) !important;
	background: -o-linear-gradient(top, #0dbf90, #0dbf90) !important;
	background: -ms-linear-gradient(top, #0dbf90, #0dbf90) !important;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	color: #ffffff;
	font-weight: 400;
}

.container {
	max-width: 100%;
	max-height:100%;
	background: #C4D5C3;
}

.container-footer {
	max-width: 100%;
	background: #00000;
}

#nav-header>p, #nav-header>p>a, #nav-header>a {
	color: #ffffff;
}

.panel-primary {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
	border: 0px;
}

.panel-heading>h4 {
	color: #ffffff;
	margin: 5px;
}

.table tbody>tr>td {
	vertical-align: middle;
}

.content-right {
	text-align: right;
}

.float-left {
	float: left;
	margin-right: 15px;
}

.btn {
	border-radius: 3px;
}

.btn-primary {
	color: #fff;
	background-color: #0dbf90;
	border-color: #0dbf90;
}

.form-control {
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.panel-heading>h3 {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.panel-heading>h4 {
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.panel-heading.special {
	border-radius: 3px;
}

.panel-heading.special>div>h3 {
	margin: 30px;
	text-align: center;
}
.panel-heading.special>div>h4 {
	margin: 30px;
	text-align: center;
}

.panel-heading.special>div>h3>a {
	color: #000000;
	font-size: 20px;
}
.panel-heading.special>div>h4>a {
	color: #000000;
	font-size: 18px;
}

.panel-body {
	overflow: auto;
}

.panel-footer {
	display: flex ;
}

.panel-footer.content-right {
	display: block;
}

.btn-group {
	margin-right: 10px;
}

.timepicker {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.menu-icon {
	width: inherit;
	padding: 0px;
}
.menu-icon a {
	display: block;
	float: left;
	width: 135px;
	height: 162px;
	margin: 5px 23px 23px 0px ;
	border: #ffffff 1px solid;
	text-align: center;
	font-size:0.94em;
	color: #1A5405 !important;		
}
.menu-icon a:hover {
	margin: 6px 23px 22px 0px ;
	border: #dedede 1px solid;
	background-color: #ececec;
	color:#869317 !important;
}
.menu-icon a:active {
	margin: 5px 23px 17px 0px ;
}
.menu-icon img {
	border: none;
	display: block;
	margin: 13px 5px 7px 15px;
}


.table-landscape
{
	margin: 10px 0px 25px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;	
	text-align: left;
	vertical-align: middle;
	border-collapse: collapse;
}
.table-landscape th
{
	padding: 7px 10px;
	font-weight: bold;
	color: #461B7E;
	background: #D7DFF7;
	text-transform: capitalize;
	border: 1px solid #FCDFFF;
	border-right: 0px;
	text-align: left;	
}
.table-landscape td
{
	padding: 4px 10px;
	background: #E3E4FA; 
	border: 1px solid #FCDFFF;		
	color: #151B54;
	vertical-align: middle;
	text-transform: none;
	text-align: left;	
}
.table-landscape tbody tr:hover td
{
	background: #D7DFF7;
}

.leftsided-title {
	text-transform: none;
	text-align: left !important;
	background-color:#ecb8f2 !important;
	padding:11px !important;
}